html{
	font-family: sans-serif;
}

header{
	padding: 0;
}


/*Colours & Dev*/


.red{
	background-color:red;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.lightgrey{
	background-color: lightgrey;
}


/*NAVIGATION*/

.nav a{
	text-decoration: none;
	color: black;
}
