html{
	font-family: sans-serif;
}

header{
	padding: 0;
}

.info-block
	display: block;
}
/*Colours & Dev*/

.pricing-block{
	border-radius: 20px;
}



.red{
	background-color:red;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.lightgrey{
	background-color: lightgrey;
}

.darkgrey{
	background-color: darkgrey;
}

.blue{
	background-color:lightblue;

}

.pink{
	background-color: #facade;
}

.uppercase{
	text-transform: uppercase;
}

/*NAVIGATION*/

.masthead a, footer a, .learn-more a{
	text-decoration: none;
	color: black;
}



/*Toggle*/




.logo{
	max-width: 50px;
}

/*button*/

.button{
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	max-width: 20em;
}

.button a{
	display: block;
	background: green;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
}

button a:hover{
background: #000;
}

/*FOOTER*/

footer{
	clear: left;

}
footer a:hover{
	color: #fff;
}


@media only screen and (max-width: 38em){
	.nav{
	display: none;

}

.nav-check{

	display: none;
}

.nav-check:checked ~ .nav{
	display: block;
}

.nav-label{
	cursor: pointer;
	display: inline-block;
	position: absolute;

}

.nav-open, .nav-close{
	display: block;
	position: absolute;
	right: .5em;
	top: -3.5em;
	width: 50px;
}


.nav-close{
	display: none;
}

.nav-check:checked ~ .nav-label .nav-open{
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close{
	display: block;
}
nav ol{
	text-align: center;
}
nav li{
	width: 100%;
	padding: .5em;
	font-size: 1.333em;
	background-color: darkgrey;

}

nav li a{
	display: block;
		border: 1px solid darkgrey;
}

nav li a:hover{
	border: 1px solid lightgrey;
}




}

@media only screen and (min-width: 38em){

	.nav-check, .nav-open, .nav-close{
		display: none;
	}


.logo{
	max-width: 40px;
}
}

@media only screen and (min-width: 60em) {


}
