html {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}
header {
    padding: 0;
}
.info-block {
    display: block;
}
h1,
h2,
h3 {
    font-weight: normal;
}
.shoalblue {
    background-color: #0066a0;
}
.text-shoalblue {
    color: #0066A0;
}
.livinggreen {
    background-color: #00AC6C;
}
.text-livinggreen {
    color: #00AC6C;
}
.tranquilblue {
    background-color: #05B5B2;
}
.text-tranquilblue {
    color: #05B5B2;
}
.mistgrey {
    background-color: #e6e6e6;
}
.white-opac {
    background-color: rgba(255, 255, 255, 0.55);
}
.text-white {
    color: #fff;
}
.rokkitt {
    font-family: 'Rokkitt', serif;
    text-transform: uppercase;
}
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.hero2{
	background-image: url(../images/hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.hero3{
	background-image: url(../images/hero3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}




.mug-bg {
    background-image: url(../images/icons_freetime.svg);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon{
	width: 60px;
}

h1 a,
nav a {
    border: none;
}

nav a:hover{
	color:rgba(0,0,0,0.3);
}

/*DEV colours- Delete later*/

.red {
    background-color: red;
}
.yellow {
    background-color: #ffffe0;
}
.green {
    background-color: #caebba;
}
.lightgrey {
    background-color: lightgrey;
}
.darkgrey {
    background-color: darkgrey;
}
.blue {
    background-color: lightblue;
}
.pink {
    background-color: #facade;
}
.white {
    background-color: #fff;
}
.uppercase {
    text-transform: uppercase;
}
/*NAVIGATION*/

.masthead a {
    text-decoration: none;
    color: #fff;
}
.masthead li {
    border-right: 1px solid white;
    padding-right: 1em;
}
.masthead li:nth-child(5) {
    border-right: none
}

/*button*/

.button {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'rokkitt', sans-serif;
    text-align: center;
    color: #fff;
    max-width: 16em;
}
.button a {
    display: block;
    background: #00AC6C;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    border: none;
}
.button-reversed a {
    color: #00AC6C;
    background-color: #fff;
}
a {
    border-bottom: 1px dashed #0066a0;
    padding-bottom: .1em;
    color: #0066a0;
    text-decoration: none;
}

.testimonial{
	background-image: url(../images/paperbg.png);
	background-repeat: repeat;
}
/*FOOTER*/

footer a:hover {
    color: #fff;
}
footer a {
    color: #fff;
    border-bottom: 1px dashed white;
}
footer a:hover {
    font-weight: bold;
}
footer h3,
footer p {
    color: #fff;
    text-transform: uppercase;
}

footer img{
	margin: 0 1em;
}

@media only screen and (max-width: 38em) {
    .nav {
        display: none;
    }
    .nav-check {
        display: none;
    }
    .nav-check:checked ~ .nav {
        display: block;
    }
    .nav-label {
        cursor: pointer;
        display: inline-block;
        position: absolute;
    }
    .nav-open,
    .nav-close {
        display: block;
        position: absolute;
        right: .5em;
        top: -3.5em;
        width: 50px;
    }
    .nav-close {
        display: none;
    }
    .nav-check:checked ~ .nav-label .nav-open {
        display: none;
    }
    .nav-check:checked ~ .nav-label .nav-close {
        display: block;
    }
    nav ol {
        text-align: center;
    }
    nav li {
        width: 100%;
        padding: 1em;
        font-size: 1.333em;
        color: black;
    }
    nav li a {
        display: block;
        padding: .5em;
    }

    nav li a:hover{
    	background: rgba(255,255,255,0.1);
    	color: rgba(0,0,0,0.6)
    }
}

@media only screen and (min-width: 38em) {
    .nav-check,
    .nav-open,
    .nav-close {
        display: none;
    }
    .logo {
        max-width: 40px;
    }
}

@media only screen and (min-width: 60em) {
    .wrapper {
        max-width: 60em;
        margin: 0 auto;
    }
}
